<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Data Scientist and Visual Artist</h1>
            <hr>
            <p style="background-color: rgba(0, 0, 0, 0.7); color: white; padding: 10px; border-radius: 5px;">
                Professional Data Scientist with 2+ years of hands-on experience in leveraging data analytics to drive strategic business decisions. Proficient in R, Python, SQL/NoSQL, and SAS.
            </p>
        </div>
    </div>
</header>
